<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->
<script>
  
  let selectedUserId;
  
  function selectUser(userId) {
    selectedUserId = userId;
    console.log(selectedUserId);
    
    window.location.href = `/users/${selectedUserId}`;   
  }  
 
  function revokeToken(userId, clientId, tokenId) {
    window.location.href = `/revoke/${userId}/${clientId}/${tokenId}`;
  }
  
  function copyToClipboard(textValue) {
    console.log(textValue);
    navigator.clipboard.writeText(textValue);
  }
  
</script>
<!DOCTYPE html>
<html>
  {{> head }}
  <body class="center">
    <header>
    {{> navbar currentUserId=currentUserId}}  
    </header>
    <main>
    
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        
        {{#when json.profile.account_type 'eq' "lightweight"}}  
        
        <h1 class="display-4">{{json.profile.account_description}}</h1>
        
        {{/when}}
     
        {{#when json.profile.account_type 'eq' "full"}}  
        
        <h1 class="display-4">{{json.profile.firstName}} {{json.profile.lastName}}</h1>
        
        {{/when}}        
        
        <h1 class="display-4">{{json.profile.login}}&nbsp;<a onclick="copyToClipboard('{{json.profile.login}}');" href="{{../authorizeUrl.full}}">(click to log in)</a></h1>
        
        <div class="row">
          <div class="col-sm-2">
            Okta ID:
          </div>
          <div class="col-sm-4">
            {{json.id}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            Name:
          </div>
          <div class="col-sm-4">
            {{json.profile.firstName}} {{json.profile.lastName}}
          </div>     
        </div>
        <div class="row">
          <div class="col-sm-2">
            Description:
          </div>
          <div class="col-sm-4">
            {{json.profile.account_description}}
          </div>     
        </div>          
        <div class="row">
          <div class="col-sm-2">
            Account Type:
          </div>
          <div class="col-sm-4">
            {{json.profile.account_type}}
          </div>     
        </div>          
      </div>
    </div>
      
    {{#when json.profile.account_type 'eq' "lightweight"}}  
      
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead">Upgrade to a full account</p>
        
      <form method="POST" action="/users">
        <div class="form-group">
          <input type="text" style="display:none" name="userId" id="userId" value="{{json.id}}">
          <input type="text" style="display:none" name="accountType" id="accountType" value="full">
          <input type="text" class="form-control" id="accountDescription" name="accountDescription" aria-describedby="accountDescriptionHelp" value="{{json.profile.account_description}}">         
          <input type="text" class="form-control" name="login" id="login" placeholder="username e.g. bob@mailinator.com">
          <input type="text" class="form-control" name="firstName" id="firstName" placeholder="first name">
          <input type="text" class="form-control" name="lastName" id="lastName" placeholder="last name">
          <input type="text" class="form-control" name="mobilePhone" id="mobilePhone" placeholder="mobile phone">              
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>        
        
        
      </div>
    </div>      
      
    {{/when}}    
           
      {{#each linkedObjectsArray}}

      <div> 
        <div class="row">
          <div class="col-sm">
            
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                
                <h3 class="display-4">{{linkedObject.profile.account_description}}</h3>

                {{#when linkedObject.profile.account_type 'eq' "lightweight"}}  

                <h3 class="display-5">Linked Account: {{linkedObject.profile.login}}&nbsp;<a onclick="copyToClipboard('{{linkedObject.profile.login}}');" href="{{../authorizeUrl.lightweight}}">(click to log in)</a></h3>
                
                {{/when}}
                
                
                {{#when linkedObject.profile.account_type 'eq' "full"}}  
                
                <h3 class="display-5">Linked Account: {linkedObject.profile.login}}&nbsp;<a onclick="copyToClipboard('{{linkedObject.profile.login}}');" href="{{../authorizeUrl.full}}">{(click to log in)</a></h3>
                
                {{/when}}                
                <div class="row">                
                  <div class="col-sm-2">
                    Login:
                  </div>
                  <div class="col-sm-5">
                    <a href="#" onclick="selectUser('{{linkedObject.id}}');">{{linkedObject.id}}</a>&nbsp;(click for user details)
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    Account Type:
                  </div>
                  <div class="col-sm-4">
                    {{linkedObject.profile.account_type}}
                  </div>     
                </div>   
                
                <div class="row">                
                  <div class="col-sm-2">
                    Suspend:
                  </div>
                  <div class="col-sm">
                    {{linkedObject._links.suspend.method}} {{linkedObject._links.suspend.href}}
                  </div>
                </div>
                
                <div class="row">                
                  <div class="col-sm-2">
                    Deactivate:
                  </div>
                  <div class="col-sm">
                    {{linkedObject._links.deactivate.method}} {{linkedObject._links.deactivate.href}}
                  </div>
                </div>          
                
                {{#each tokens}}
                <hr class="my-4">
                <div class="row">                
                  <div class="col-sm-2">
                    Token ID:
                  </div>
                  <div class="col-sm">
                    {{id}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    Status:
                  </div>
                  <div class="col-sm">
                    {{status}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    Created:
                  </div>
                  <div class="col-sm">
                    {{created}}
                  </div>
                </div>    
                <div class="row">
                  <div class="col-sm-2">
                    Expires At:
                  </div>
                  <div class="col-sm">
                    {{expiresAt}}
                  </div>
                </div>   
                <div class="row">
                  <div class="col-sm-2">
                    Issuer:
                  </div>
                  <div class="col-sm">
                    {{issuer}}
                  </div>
                </div>                 
                <div class="row">
                  <div class="col-sm-2">
                    Client:
                  </div>
                  <div class="col-sm">
                    {{_links.client.title}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    Scopes:
                  </div>
                  <div class="col-sm">
                    {{scopes}}
                  </div>
                </div>       
                <div class="row">
                  <div class="col-sm-2">
                    Revoke:
                  </div>
                  <div class="col-sm">
                    {{_links.revoke.hints.allow}} <a href="#" onclick="revokeToken('{{userId}}', '{{clientId}}', '{{id}}')">{{_links.revoke.href}}</a>
                  </div>
                </div>                   
                
                {{/each}}
                
                
              </div>              
            </div>    

          </div>
        </div>          
      </div>
      {{/each}}
      
      
    <div class="jumbotron">
      <h3 class="display-5">Create a lightweight account attached to {{json.profile.login}}'s account</h3>
      <p class="lead">Use the form below to create a lightweight account linked to this account.</p>

      <form method="POST" action="/users">
        <div class="form-group">
          <input type="text" style="display:none" name="accountOwner" id="accountOwner" value="{{json.id}}">
          <input type="text" style="display:none" name="accountOwnerLogin" id="accountOwnerLogin" value="{{json.profile.login}}">
          <input type="text" style="display:none" name="accountType" id="accountType" value="lightweight">
          
          <label for="accountDescription">Description</label>
          <input type="text" class="form-control" id="accountDescription" name="accountDescription" aria-describedby="accountDescriptionHelp" placeholder="e.g. Bobby's iPad 3">
          <small id="accountDescriptionHelp" class="form-text text-muted">Enter a brief description for this lightweight account.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>       

      
    </main>  
    
  </body>
</html>
