<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->
<script>
  let selectedUserId;
  
  function selectUser(userId) {
    selectedUserId = userId;
    console.log(selectedUserId);
    
    window.location.href = `/users/${selectedUserId}`;   
  }
  
</script>
<!DOCTYPE html>
<html>
  {{> head }}
  <body class="center">
    <header>
    {{> navbar currentUserId=currentUserId}}  
      <h1>
        Users
      </h1>
    </header>
    <main>
      
      <div> 
        
        <div class="row">
          <div class="col-sm-3">
            Login
          </div>             
          <div class="col-sm-2">
            User ID  
          </div>          
          <div class="col-sm-2">
            Name
          </div>
          <div class="col-sm">
            Account Owner
          </div>
        </div>        
        
        {{#each usersArray}}
            
        <div class="row">
          <div class="col-sm-3">
            {{userObject.profile.login}}
          </div>             
          <div class="col-sm-2">
            <a href="#" onclick="selectUser('{{userObject.id}}');">{{userObject.id}}</a>         
          </div>          
          <div class="col-sm-2">
            {{userObject.profile.firstName}} {{userObject.profile.lastName}}
          </div>
          <div class="col-sm">
            <a href="#" onclick="selectUser('{{accountOwner.id}}');">{{accountOwner.id}}</a> {{accountOwner.profile.login}}
          </div>
        </div>
        
        
        
        {{/each}}
      
      </div>
      
 

      
    </main>
  </body>
</html>
