<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->
<script>
 
  function revokeToken(userId, clientId, tokenId) {
    window.location.href = `/revoke/${userId}/${clientId}/${tokenId}`;
  }
  
</script>
<!DOCTYPE html>
<html>
  {{> head }}
  <body class="center">
    <header>
    {{> navbar currentUserId=currentUserId}}  
      <h1>
        Users Details
      </h1>
    </header>
    <main>
    
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">User ID: {{json.id}}</h1>
        <div class="row">
          <div class="col-sm-2">
            Login:
          </div>
          <div class="col-sm-4">
            {{json.profile.login}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2">
            Name:
          </div>
          <div class="col-sm-4">
            {{json.profile.firstName}} {{json.profile.lastName}}
          </div>     
        </div>  
        <div class="row">
          <div class="col-sm-2">
            Account Type:
          </div>
          <div class="col-sm-4">
            {{json.profile.account_type}}
          </div>     
        </div>          
      </div>
    </div>
           
      {{#each linkedObjectsArray}}
      <div> 
        <div class="row">
          <div class="col-sm">
            
            <div class="jumbotron jumbotron-fluid">
              <div class="container">
                <h3 class="display-5">User ID: {{linkedObject.id}}</h3>
                <div class="row">
                  <div class="col-sm-2">
                    Description:
                  </div>
                  <div class="col-sm-4">
                    {{linkedObject.profile.account_description}}
                  </div>     
                </div>  
                <div class="row">
                  <div class="col-sm-2">
                    Account Type:
                  </div>
                  <div class="col-sm-4">
                    {{linkedObject.profile.account_type}}
                  </div>     
                </div>   
                <div class="row">                
                  <div class="col-sm-2">
                    Login:
                  </div>
                  <div class="col-sm-4">
                    {{linkedObject.profile.login}}
                  </div>
                </div>
                
                <div class="row">                
                  <div class="col-sm-2">
                    Suspend:
                  </div>
                  <div class="col-sm">
                    {{linkedObject._links.suspend.method}} {{linkedObject._links.suspend.href}}
                  </div>
                </div>
                
                <div class="row">                
                  <div class="col-sm-2">
                    Deactivate:
                  </div>
                  <div class="col-sm">
                    {{linkedObject._links.deactivate.method}} {{linkedObject._links.deactivate.href}}
                  </div>
                </div>          
                
                {{#each tokens}}
                <hr class="my-4">
                <div class="row">                
                  <div class="col-sm-2">
                    Token:
                  </div>
                  <div class="col-sm">
                    {{id}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    Status:
                  </div>
                  <div class="col-sm">
                    {{status}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    Created:
                  </div>
                  <div class="col-sm">
                    {{created}}
                  </div>
                </div>    
                <div class="row">
                  <div class="col-sm-2">
                    Expires At:
                  </div>
                  <div class="col-sm">
                    {{expiresAt}}
                  </div>
                </div>   
                <div class="row">
                  <div class="col-sm-2">
                    Issuer:
                  </div>
                  <div class="col-sm">
                    {{issuer}}
                  </div>
                </div>                 
                <div class="row">
                  <div class="col-sm-2">
                    Client:
                  </div>
                  <div class="col-sm">
                    {{_links.client.title}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    Scopes:
                  </div>
                  <div class="col-sm">
                    {{scopes}}
                  </div>
                </div>       
                <div class="row">
                  <div class="col-sm-2">
                    Revoke:
                  </div>
                  <div class="col-sm">
                    {{_links.revoke.hints.allow}} <a href="#" onclick="revokeToken('{{userId}}', '{{clientId}}', '{{id}}')">{{_links.revoke.href}}</a>
                  </div>
                </div>                   
                
                {{/each}}
                
                
              </div>              
            </div>    

          </div>
        </div>          
      </div>
      {{/each}}
      
 

      
    </main>
    
    
    <!-- footer -->
    <div class="fixed-bottom">
      <div class="jumbotron-fluid">
        <div class="row">
          <div class="col-sm-2 teensy-print">Linked Objects:</div>
          <div class="col-sm teensy-print"><pre>{{json linkedObjects}}</pre></div>
        </div>        
        <div class="row">
          <div class="col-sm-2 teensy-print">Glitch:</div>
          <div class="col-sm teensy-print"></div>
        </div>
      </div>
    </div>    
    
  </body>
</html>
