<!-- It's a handlebars template! hbs(handlebars): http://handlebarsjs.com/ -->
<script>
  let selectedUserId;
  
  function selectUser(userId) {
    selectedUserId = userId;
    console.log(selectedUserId);
    
    window.location.href = `/users/${selectedUserId}`;   
  }
  
</script>
<!DOCTYPE html>
<html>
  {{> head }}
  <body class="center">
    <header>
    {{> navbar sessionExists=tokensExist logoutUri=logoutUri currentUserId=currentUserId}}  
      <h1>
        Users
      </h1>
    </header>
    <main>
      
   <table class="table table-striped table-light">

    <thead class="thead-dark">
      <tr>
        <th scope="col">Login</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Okta ID</th>
        <th scope="col">Account Type</th>
        <th scope="col">Parent Account</th>
      </tr>
    </thead>
    <tbody>

    {{#each usersArray}}

    <tr>
      <td><a href="#" onclick="selectUser('{{userObject.id}}');">{{userObject.profile.login}}</a></td>
      <td>{{userObject.profile.firstName}} {{userObject.profile.lastName}}</td>    
      <td>{{userObject.profile.account_description}}</td>
      <td>{{userObject.id}}</td>
      <td>{{userObject.profile.account_type}}</td>
      <td><a href="#" onclick="selectUser('{{accountOwner.id}}');">{{accountOwner.id}}</a> {{accountOwner.profile.login}}</td>
    </tr>

    {{/each}}

    </tbody>
    </table>
      
    </main>
  </body>
</html>
